<a href="https://colab.research.google.com/github/daniellekarlas/MLSENAC_Danielle/blob/main/Atividade_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Obtendo os dados: 
Ao rodarmos a célula abaixo vamos obter os dados diretamente do site:

http://dados.recife.pe.gov.br/tl/dataset/relacao-de-pessoas-vacinadas-covid-19/resource/966e9c4c-df45-40d7-9c58-2f13c61a6d28

In [3]:
df1 = pd.read_csv('http://dados.recife.pe.gov.br/dataset/2b5ee58d-9535-4d80-ab32-f63fd475346e/resource/93f4e8c2-430f-4142-86b3-96dab4905b4e/download/casosgravescovid.csv', sep=";")

Utilize os comandos aprendidos em aula para os dados carregados, começando, preferencialmente, por:
- head()
- head(1-2)
- tail()
- info()
- describe()
- seguindo com outros aprendidos para manipulação de tratamento dos dados.

In [4]:
df1.head()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
0,2020-05-30,Masculino,Branca,NaN,53,Recife,SAN MARTIN,V,2020-05-25,"Febre, Tosse, Mialgia, Alteração/perda de olfa...",NaN,NaN,NaN,NaN,NaN,DESCARTADO,ISOLAMENTO DOMICILIAR,NaN
1,2020-06-02,Feminino,Parda,NaN,0,Recife,ALTO SANTA TEREZINHA,II,2020-05-30,"Febre, Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,INCONCLUSIVO,ISOLAMENTO DOMICILIAR,NaN
2,2020-06-02,Feminino,Parda,NaN,86,Recife,ESPINHEIRO,III,2020-06-01,"Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
3,2020-06-01,Masculino,Branca,NaN,66,Recife,CASA FORTE,III,2020-05-25,NaN,NaN,NaN,NaN,NaN,NaN,CONFIRMADO,RECUPERADO,NaN
4,2020-06-02,Masculino,Preta,NaN,68,Recife,ILHA DO RETIRO,IV,2020-05-30,"Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN

In [5]:
df1.head(1-2)

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
0,2020-05-30,Masculino,Branca,NaN,53,Recife,SAN MARTIN,V,2020-05-25,"Febre, Tosse, Mialgia, Alteração/perda de olfa...",NaN,NaN,NaN,NaN,NaN,DESCARTADO,ISOLAMENTO DOMICILIAR,NaN
1,2020-06-02,Feminino,Parda,NaN,0,Recife,ALTO SANTA TEREZINHA,II,2020-05-30,"Febre, Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,INCONCLUSIVO,ISOLAMENTO DOMICILIAR,NaN
2,2020-06-02,Feminino,Parda,NaN,86,Recife,ESPINHEIRO,III,2020-06-01,"Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
3,2020-06-01,Masculino,Branca,NaN,66,Recife,CASA FORTE,III,2020-05-25,NaN,NaN,NaN,NaN,NaN,NaN,CONFIRMADO,RECUPERADO,NaN
4,2020-06-02,Masculino,Preta,NaN,68,Recife,ILHA DO RETIRO,IV,2020-05-30,"Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36429,2022-06-08,Masculino,Branca,NaN,1,Recife,GUABIRABA,VII,2022-06-05,"Febre, Tosse, Dispneia",NaN,NaN,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36430,2022-06-08,Masculino,Ignorado,NaN,77,Recife,BREJO DA GUABIRABA,VII,2022-06-06,Dispneia,NaN,NaN,HAS,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36431,2022-06-09,Masculino,Parda,NaN,74,Recife,NOVA DESCOBERTA,VII,2022-06-06,"Tosse, Cansaço/fadiga, Desconforto respiratóri...",NaN,NaN,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36432,2022-06-10,Masculino,Parda,NaN,74,Recife,BEBERIBE,II,2022-06-03,"Febre, Tosse, Dispneia",NaN,Diabetes,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36433,2022-06-12,Feminino,Amarela,NaN,73,Recife,ENGENHO DO MEIO,IV,2022-06-11,"Dispneia, Desconforto respiratório / aperto to...",NaN,"Doenças Cardíacas ou Vasculares, Diabetes",AVC,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN

In [6]:
df1.tail()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
36430,2022-06-08,Masculino,Ignorado,NaN,77,Recife,BREJO DA GUABIRABA,VII,2022-06-06,Dispneia,NaN,NaN,HAS,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36431,2022-06-09,Masculino,Parda,NaN,74,Recife,NOVA DESCOBERTA,VII,2022-06-06,"Tosse, Cansaço/fadiga, Desconforto respiratóri...",NaN,NaN,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36432,2022-06-10,Masculino,Parda,NaN,74,Recife,BEBERIBE,II,2022-06-03,"Febre, Tosse, Dispneia",NaN,Diabetes,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36433,2022-06-12,Feminino,Amarela,NaN,73,Recife,ENGENHO DO MEIO,IV,2022-06-11,"Dispneia, Desconforto respiratório / aperto to...",NaN,"Doenças Cardíacas ou Vasculares, Diabetes",AVC,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36434,2022-06-12,Feminino,Parda,NaN,66,Recife,BOA VIAGEM,VI,2022-06-07,"Tosse, Dispneia, Desconforto respiratório / ap...",RNC,NaN,AVCH,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36435 entries, 0 to 36434
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   data_notificacao               36435 non-null  object
 1   sexo                           36435 non-null  object
 2   raca                           30106 non-null  object
 3   etnia                          4 non-null      object
 4   idade                          36435 non-null  object
 5   municipio_residencia           36435 non-null  object
 6   bairro                         36435 non-null  object
 7   distrito_sanitario             36435 non-null  object
 8   data_inicio_sintomas           36435 non-null  object
 9   sintomas                       34477 non-null  object
 10  outros_sintomas                5974 non-null   object
 11  doencas_preexistentes          13698 non-null  object
 12  outras_doencas_preexistentes   7807 non-null   object
 13  profissional_saude             27338 non-null  object
 14  categoria_profissional         2914 non-null   object
 15  classificacao_final            36435 non-null  object
 16  evolucao                       35458 non-null  object
 17  data_obito                     9344 non-null   object
dtypes: object(18)
memory usage: 5.0+ MB

In [8]:
df1.describe()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
count,36435,36435,30106,4,36435,36435,36435,36435,36435,34477,5974,13698,7807,27338,2914,36435,35458,9344
unique,836,3,6,1,127,3,106,10,850,3440,2370,244,3344,2,23,4,5,785
top,2020-04-23,Feminino,Parda,Ignorado,57,Recife,BOA VIAGEM,IV,2020-04-20,"Febre, Tosse, Dispneia, Saturação O2 < 95",ASTENIA,Doenças Cardíacas ou Vasculares,HAS,NÃO,Outro profissional de serviço de saúde,CONFIRMADO,RECUPERADO,2020-05-09
freq,464,18643,15040,4,646,36433,2972,6392,359,2535,946,3827,1493,24424,1900,17816,18931,72

In [9]:
df1.dtypes

data_notificacao                 object
sexo                             object
raca                             object
etnia                            object
idade                            object
municipio_residencia             object
bairro                           object
distrito_sanitario               object
data_inicio_sintomas             object
sintomas                         object
outros_sintomas                  object
doencas_preexistentes            object
outras_doencas_preexistentes     object
profissional_saude               object
categoria_profissional           object
classificacao_final              object
evolucao                         object
data_obito                       object
dtype: object

In [10]:
df1.shape

(36435, 18)

In [11]:
indice=["Linha " + str(i) for i in range (36435)]

In [12]:
colunas=["Coluna " + str(i) for i in range (18)]

In [13]:
pd.DataFrame(df1)

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
0,2020-05-30,Masculino,Branca,NaN,53,Recife,SAN MARTIN,V,2020-05-25,"Febre, Tosse, Mialgia, Alteração/perda de olfa...",NaN,NaN,NaN,NaN,NaN,DESCARTADO,ISOLAMENTO DOMICILIAR,NaN
1,2020-06-02,Feminino,Parda,NaN,0,Recife,ALTO SANTA TEREZINHA,II,2020-05-30,"Febre, Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,INCONCLUSIVO,ISOLAMENTO DOMICILIAR,NaN
2,2020-06-02,Feminino,Parda,NaN,86,Recife,ESPINHEIRO,III,2020-06-01,"Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
3,2020-06-01,Masculino,Branca,NaN,66,Recife,CASA FORTE,III,2020-05-25,NaN,NaN,NaN,NaN,NaN,NaN,CONFIRMADO,RECUPERADO,NaN
4,2020-06-02,Masculino,Preta,NaN,68,Recife,ILHA DO RETIRO,IV,2020-05-30,"Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36430,2022-06-08,Masculino,Ignorado,NaN,77,Recife,BREJO DA GUABIRABA,VII,2022-06-06,Dispneia,NaN,NaN,HAS,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36431,2022-06-09,Masculino,Parda,NaN,74,Recife,NOVA DESCOBERTA,VII,2022-06-06,"Tosse, Cansaço/fadiga, Desconforto respiratóri...",NaN,NaN,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36432,2022-06-10,Masculino,Parda,NaN,74,Recife,BEBERIBE,II,2022-06-03,"Febre, Tosse, Dispneia",NaN,Diabetes,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36433,2022-06-12,Feminino,Amarela,NaN,73,Recife,ENGENHO DO MEIO,IV,2022-06-11,"Dispneia, Desconforto respiratório / aperto to...",NaN,"Doenças Cardíacas ou Vasculares, Diabetes",AVC,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36434,2022-06-12,Feminino,Parda,NaN,66,Recife,BOA VIAGEM,VI,2022-06-07,"Tosse, Dispneia, Desconforto respiratório / ap...",RNC,NaN,AVCH,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN

In [14]:
df2=pd.DataFrame(data=df1, index=indice, columns=colunas)
df2

,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 9,Coluna 10,Coluna 11,Coluna 12,Coluna 13,Coluna 14,Coluna 15,Coluna 16,Coluna 17
Linha 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Linha 36430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 36431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 36432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 36433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Linha 36434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df1.isnull()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
0,False,False,False,True,False,False,False,False,False,False,True,True,True,True,True,False,False,True
1,False,False,False,True,False,False,False,False,False,False,True,True,True,True,True,False,False,True
2,False,False,False,True,False,False,False,False,False,False,True,True,True,True,True,False,False,True
3,False,False,False,True,False,False,False,False,False,True,True,True,True,True,True,False,False,True
4,False,False,False,True,False,False,False,False,False,False,True,True,True,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36430,False,False,False,True,False,False,False,False,False,False,True,True,False,False,True,False,False,True
36431,False,False,False,True,False,False,False,False,False,False,True,True,True,False,True,False,False,True
36432,False,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False,False,True
36433,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,True
36434,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,True

In [16]:
df1.isnull().sum()

data_notificacao                     0
sexo                                 0
raca                              6329
etnia                            36431
idade                                0
municipio_residencia                 0
bairro                               0
distrito_sanitario                   0
data_inicio_sintomas                 0
sintomas                          1958
outros_sintomas                  30461
doencas_preexistentes            22737
outras_doencas_preexistentes     28628
profissional_saude                9097
categoria_profissional           33521
classificacao_final                  0
evolucao                           977
data_obito                       27091
dtype: int64

In [17]:
df3=df1.copy()

In [18]:
df1.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['data_notificacao', 'sexo', 'raca', 'etnia', 'idade',
       'municipio_residencia', 'bairro', 'distrito_sanitario',
       'data_inicio_sintomas', 'sintomas', 'outros_sintomas',
       'doencas_preexistentes', 'outras_doencas_preexistentes ',
       'profissional_saude', 'categoria_profissional', 'classificacao_final',
       'evolucao', 'data_obito'],
      dtype='object')>

In [19]:
df1=df1.drop(columns=['data_notificacao', 'raca', 'etnia',
       'data_inicio_sintomas', 'sintomas', 'outros_sintomas',
       'doencas_preexistentes', 'outras_doencas_preexistentes ',
       'profissional_saude', 'categoria_profissional',
       'evolucao', 'data_obito'])

In [20]:
df1.shape

(36435, 6)

In [21]:
df1.info

<bound method DataFrame.info of             sexo idade municipio_residencia                bairro  \
0      Masculino    53               Recife            SAN MARTIN
1       Feminino     0               Recife  ALTO SANTA TEREZINHA
2       Feminino    86               Recife            ESPINHEIRO
3      Masculino    66               Recife            CASA FORTE
4      Masculino    68               Recife        ILHA DO RETIRO
...          ...   ...                  ...                   ...
36430  Masculino    77               Recife    BREJO DA GUABIRABA
36431  Masculino    74               Recife       NOVA DESCOBERTA
36432  Masculino    74               Recife              BEBERIBE
36433   Feminino    73               Recife       ENGENHO DO MEIO
36434   Feminino    66               Recife            BOA VIAGEM

      distrito_sanitario classificacao_final
0                      V          DESCARTADO
1                     II        INCONCLUSIVO
2                    III          DESCARTADO
3                    III          CONFIRMADO
4                     IV          DESCARTADO
...                  ...                 ...
36430                VII          EM ANÁLISE
36431                VII          EM ANÁLISE
36432                 II          EM ANÁLISE
36433                 IV          EM ANÁLISE
36434                 VI          EM ANÁLISE

[36435 rows x 6 columns]>

In [22]:
df1.columns.unique()

Index(['sexo', 'idade', 'municipio_residencia', 'bairro', 'distrito_sanitario',
       'classificacao_final'],
      dtype='object')

In [23]:
df1.index.unique()

RangeIndex(start=0, stop=36435, step=1)

In [24]:
df1

,sexo,idade,municipio_residencia,bairro,distrito_sanitario,classificacao_final
0,Masculino,53,Recife,SAN MARTIN,V,DESCARTADO
1,Feminino,0,Recife,ALTO SANTA TEREZINHA,II,INCONCLUSIVO
2,Feminino,86,Recife,ESPINHEIRO,III,DESCARTADO
3,Masculino,66,Recife,CASA FORTE,III,CONFIRMADO
4,Masculino,68,Recife,ILHA DO RETIRO,IV,DESCARTADO
...,...,...,...,...,...,...
36430,Masculino,77,Recife,BREJO DA GUABIRABA,VII,EM ANÁLISE
36431,Masculino,74,Recife,NOVA DESCOBERTA,VII,EM ANÁLISE
36432,Masculino,74,Recife,BEBERIBE,II,EM ANÁLISE
36433,Feminino,73,Recife,ENGENHO DO MEIO,IV,EM ANÁLISE
36434,Feminino,66,Recife,BOA VIAGEM,VI,EM ANÁLISE

In [26]:
df1.isnull().sum().sum()

0

In [27]:
df1.sort_values(by="idade")

,sexo,idade,municipio_residencia,bairro,distrito_sanitario,classificacao_final
25584,Masculino,0,Recife,BREJO DA GUABIRABA,VII,DESCARTADO
31823,Feminino,0,Recife,AFLITOS,III,INCONCLUSIVO
3552,Feminino,0,Recife,AGUA FRIA,II,DESCARTADO
14707,Feminino,0,Recife,ESTANCIA,V,DESCARTADO
24484,Feminino,0,Recife,CORDEIRO,IV,DESCARTADO
...,...,...,...,...,...,...
6063,Feminino,99,Recife,GRACAS,III,CONFIRMADO
30040,Masculino,99,Recife,BOA VIAGEM,VI,CONFIRMADO
19596,Feminino,IGN,Recife,NOVA DESCOBERTA,VII,CONFIRMADO
6304,Masculino,IGN,Recife,PRADO,IV,DESCARTADO
10989,Feminino,IGN,Recife,IGN,IGN,DESCARTADO

In [28]:
df1.index.value_counts().sum()

36435

In [29]:
print(df1.idade.unique())

['53' '0' '86' '66' '68' '93' '67' '63' '51' '47' '43' '64' '78' '61' '89'
 '39' '88' '31' '46' '60' '69' '70' '65' '55' '49' '57' '71' '29' '58'
 '40' '35' '25' '28' '84' '72' '34' '75' '82' '56' '76' '54' '48' '62'
 '74' '83' '26' '45' '30' '41' '42' '73' '33' '27' '38' '52' '50' '81'
 '80' '37' '32' '90' '79' '14' '44' '24' '77' '59' '1' '7' '2' '36' '13'
 '6' '8' '96' '19' '92' '87' '10' '20' '91' '22' '16' '105' '1 meses'
 '8 meses' '18' '12' '99' '85' '5' '9' '23' '94' '3' '104' '100' '15' '21'
 '11 meses' '17' '95' '3 meses' '10 meses' '97' '6 meses' '11' '4' '98'
 '5 meses' '2 meses' '7 meses' '101' '9 meses' '4 meses' '107' '102'
 '1 mês' '110' '106' '103' 'IGN' '0 meses' '114' '115' '112' '109']