<a href="https://colab.research.google.com/github/daniellekarlas/MLSENAC_Danielle/blob/main/praticaaula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crie uma variável chamada contador = 0. Enquanto counter for menor que 100, imprima os valores na tela.

In [7]:
contador=0
while contador <100:
  print(contador)
  contador+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

2. Crie uma lista vazia e uma variável com valor 4. Enquanto o valor da variável for menor ou igual a 20, adicione à lista, apenas os valores pares e imprima a lista.

In [18]:
lista1=[]
numero=4

while numero <=20:
  numero+=1
  if numero %2==0:
    lista1.append(numero)
print(lista1)

[6, 8, 10, 12, 14, 16, 18, 20]

 3. Faça a correção dos erros no código abaixo e execute o programa.

temperatura = float(input(Qual a temperatura? ))
if temperatura > 30
print('Vista roupas leves.')
else
print('Busque seus casacos.')

In [ ]:
temperatura = float(input(Qual a temperatura? )) ##nessa linha falta as aspas dentro do input
if temperatura > 30 ##nessa faltou os : depois do 30
print('Vista roupas leves.') ###erro de identação nessa 
else ###faltou os : 
  print('Busque seus casacos.')

In [28]:
temperatura = float(input("Qual a temperatura?"))
if temperatura > 30:
  print('Vista roupas leves.')
else:
  print('Busque seus casacos.')

Qual a temperatura?30
Busque seus casacos.

 4. Faça um programa que conte quantas vezes a letra "s" aparece na frase abaixo.
“'Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo." (Paulo Freire)

In [65]:
frase=tuple("Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo. (Paulo Freire)")
print(frase.count("s"))

8

Questão 5 foi igual a questão 4
 5. Faça um programa que conte quantas vezes a letra "s" aparece na frase abaixo.
“'Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo." (Paulo Freire)

6. Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.

lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [78]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(lista[5::])

['f', 'g', 'h']

 7. Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2 abaixo.
dict1 = {'a':1,'b':2} dict2 = {'c':4,'d':5}

In [95]:
##essa foi a resolução que Erick mostrou na sala, mas como eu não entendi fui procurar outra função e achei naquele livro q vc mandou a funcao update.
dict2 = {'c':4,'d':5}
dict1 = {'a':1,'b':2} 
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [107]:
##Consegui entender melhor dessa forma, criei um dicionário vazio e fui atualizando com os valores do dict1 e 2.
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}
dict3={}
dict3.update(dict1)
dict3.update(dict2)
print(dict3)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

8.

In [108]:
for um_valor in range(10):
  print(um_valor)

0
1
2
3
4
5
6
7
8
9

9.

In [109]:
for um_char in "Venha para a festa":
  print(um_char)

V
e
n
h
a

p
a
r
a

a

f
e
s
t
a